.contenedor{
    height: 400px;
    background-color: blue;
    display: flex;
    justify-content: center;
    
}

.contenedor2{
    background-image: url('Pergamino.png');
    background-repeat: no-repeat;
    width: 536px;
    height: 349px;
    margin-top: 2%;
 
}

.About_me{
    margin-left: 35%;
}

.contenedor3{
    margin-left: 10%;
    margin-right: 10%;
}